<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Teacher</title></title>

    <link rel="stylesheet" type="text/css" href="css/HACKTJ.css">
  </head>

  <body>
   <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Schedule</a>
      {{!--<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">--}}
      {{!--<ul class="navbar-nav px-3">--}}
      {{!--  <li class="nav-item text-nowrap">--}}
      {{!--    <a class="nav-link" href="#">Sign out</a>--}}
      {{!--  </li>--}}
      {{!--</ul>--}}
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                 <a class="nav-link" href="#">
                    Input (Not Done)
                 </a>
                </li>
              
              <li class="nav-item">
                <a class="nav-link hover" href="https://atvt_hacktj.sites.tjhsst.edu/">
                  Students 
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link active hover" href="#">
                  Teachers  <span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <h2>Faculty Schedule</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              {{!--<thead>--}}
              {{!--  <tr>--}}
              {{!--    <th>Person</th>--}}
              {{!--    <th>Class</th>--}}
              {{!--    <th>Room</th>--}}
              {{!--    <th>Contact</th>--}}
              {{!--  </tr>--}}
              {{!--</thead>--}}
               <thead>
                <tr>
                  <th>Person</th>
                  <th>Period 1</th>
                  <th>Period 2</th>
                  <th>Period 3</th>
                  <th>Period 4</th>
                  <th>Period 5</th>
                  <th>Period 6</th>
                  <th>Period 7</th>
                </tr>
              </thead>
              <tbody>
                {{#each people}}
                    <tr>
                        <td>{{@key}}</td>
                        {{#each this}}
                          <td>{{this}}</td>
                        {{/each}}
                    </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>
